body{
	height: 100%;
	padding-top: 60px;
}

.th-center{
	text-align: center;
}

.td-center{
	text-align: center;
}

.th-left{
	text-align: left;
}

.td-left{
	text-align: left;
}

.th-right{
	text-align: right;
}

.td-right{
	text-align: right;
}