<div class="form-group">
	<div id="panel_<%=name%>" class="panel panel-primary">
		<div id="panel_head_<%=name%>" class="panel-heading">
			<h4><%=ask%><small style="color:red;"><b class="message_error"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>Esta respuesta es obligatoria</b></small></h4>
		</div>
		<div id="panel_body_<%=name%>" class="panel-body">
			<textarea name="<%=name%>" id="<%=name%>" cols="30" rows="10" class="form-control" placeholder="Escriba su comentario..."></textarea>
		</div>
	</div>
</div>