<div class="form-group">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4><%=ask%></h4>
		</div>
		<div class="panel-body">
			<select multiple id="<%=type%>_<%=number%>" name="<%=type%>_<%=number%>" class="form-control"><% listOptions.each{ |option| %>
				<option class="form-control"><%=option["value"]%></option><% } %>			
			</select>
		</div>
	</div>
</div>