<div class="form-group">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4><%= ask %></h4>
		</div>
		<div class="panel-body"><%i = 1%><% listOptions.each{ |option| %>	
			<div class="radio">
				<label class="form-control">
					<input id="<%=type%>_<%=number%>_<%i%>" name="<%=type%>_<%=number%>" type="radio" value="<%=option["value"]%>">
					<%=option["value"]%>
				</label>
			</div><%i += 1%><% } %>
		</div>
	</div>
</div>