INSERT INTO pregunta (pregunta_id, pregunta_descripcion, pregunta_tipo) VALUES ('<%=name%>','<%=ask%>','<%=type%>');<%numRow = 1%><%listRows.each{|row|%>
INSERT INTO mmrrow(mmrrow_id, mmrrow_pregunta_id, mmrrow_descripcion) VALUES ('<%=name%>_<%=numRow%>','<%=name%>','<%=row["value"]%>');<%for i in 1..listColumns.length%>
INSERT INTO opmmr(opmmr_id, opmmr_descripcion, opmmr_mmrrow_id) VALUES ('<%=type%>_<%=number%>_<%=numRow%>_<%=i%>','<%=listColumns[i-1]["value"]%>','<%=name%>_<%=numRow%>');<%end%><%numRow+=1%><%}%>