INSERT INTO pregunta (pregunta_id, pregunta_descripcion, pregunta_tipo) VALUES ('<%=name%>','<%=ask%>','<%=type%>');<%i = 1%><% listOptions.each{ |option| %>
INSERT INTO opsmurb (opsmurb_id, opsmurb_descripcion, opsmurb_pregunta_id) VALUES ('<%=name%>_<%=i%>','<%=option["value"]%>','<%=name%>');<%i += 1%><% } %>